@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --gray-50: #f9fafb;
  --gray-100: #eeeeee;
  --gray-200: #d6d1cb;
  --gray-300: #cac5c0;
}

html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: "helvetica neue";
  font-size: 16px;
  font-weight: 200;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  line-height: 1.5;
  max-height: 100%;
  max-width: 1024px;
  margin-right: auto !important;
  margin-left: auto !important;
}

strong {
  font-weight: bold;
}

p {
  font-size: large;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.error {
  color: #e74c3c;
}

.flex-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10%;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  padding-bottom: 5px;
}


.container {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #121212;
  box-shadow: --var(gray-300) 0 0 0 1px;
  background: --var(gray-50);
  margin: 0 auto;
  padding: 5%;
  /* text-align: center; */
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid --var(gray-300);
  border-radius: 4rem;
  box-shadow: --var(gray-300) 0 0 0 1px;
  background: --var(gray-50);
  font-size: 1.5rem;
  color: --var(gray-300);
  outline: none;
  font-weight: 200;
}

label {
  display: block;
  margin-bottom: 0px;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: start;
}

.button {
  padding-top: 0.5rem;
  cursor: pointer;
}

.btn {
  width: 90%;
  height: auto;
  border-radius: 1rem;
  border: 1px solid --var(gray-300);
  box-shadow: --var(gray-300) 0 0 0 1px;
  background: --var(gray-50);
  font-size: 1.5rem;
  color: --var(gray-300);
  outline: none;
  font-weight: 200;
  text-align: center;
}